<header
  class="h-16 border-b border-slate-200 dark:border-stone-800 px-4 sm:px-8 flex items-center justify-between z-10">
  <div class="flex items-center gap-6 flex-1"><button
      class="lg:hidden p-2 text-slate-500 hover:bg-slate-100 dark:hover:bg-stone-800 rounded-lg"><span
        class="material-symbols-outlined">menu</span></button>
    <h2 class="text-xl font-bold text-slate-900 dark:text-white">Projects</h2>
    <div class="relative w-full hidden md:block max-w-30 sm:max-w-md">
      <span class="absolute left-3 top-1/2 -translate-y-1/2 text-slate-400"><svg xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="m19.485 20.154l-6.262-6.262q-.75.639-1.725.989t-1.96.35q-2.398 0-4.064-1.666Q3.808 11.898 3.808 9.5t1.666-4.064t4.064-1.667t4.065 1.667T15.269 9.5q0 1.042-.369 2.017t-.97 1.668l6.262 6.261zM9.539 14.23q1.99 0 3.36-1.37t1.37-3.361t-1.37-3.36t-3.36-1.37t-3.361 1.37t-1.37 3.36t1.37 3.36t3.36 1.37" />
        </svg></span>
      <input
        class="w-full pl-10 pr-4 py-2 bg-slate-100 dark:bg-stone-800 border-none rounded-xl text-sm focus:ring-2 focus:ring-primary/50 text-slate-900 dark:text-white placeholder:text-slate-500"
        placeholder="Search projects, tasks, or files..." type="text" />
    </div>
  </div>
  <div class="flex items-center gap-3">
    <button class="p-2 text-slate-500 hover:bg-slate-100 dark:hover:bg-stone-800 rounded-lg relative">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
          d="M427.68 351.43C402 320 383.87 304 383.87 217.35C383.87 138 343.35 109.73 310 96c-4.43-1.82-8.6-6-9.95-10.55C294.2 65.54 277.8 48 256 48s-38.21 17.55-44 37.47c-1.35 4.6-5.52 8.71-9.95 10.53c-33.39 13.75-73.87 41.92-73.87 121.35C128.13 304 110 320 84.32 351.43C73.68 364.45 83 384 101.61 384h308.88c18.51 0 27.77-19.61 17.19-32.57M320 384v16a64 64 0 0 1-128 0v-16" />
      </svg>
      <span
        class="absolute top-2 right-2.5 w-2 h-2 bg-primary rounded-full border-2 border-white dark:border-stone-900"></span>
    </button>
    <button
      class="flex items-center gap-2 pl-2 pr-1 py-1 border border-slate-200 dark:border-stone-700 rounded-full hover:bg-slate-50 dark:hover:bg-stone-800 transition-colors">
      <span class="text-sm font-medium text-slate-700 dark:text-slate-300 px-2">Alex Rivera</span>
      <div class="w-8 h-8 rounded-full bg-primary/20 flex items-center justify-center overflow-hidden">
        <img alt="Avatar" class="w-full h-full object-cover" data-alt="Portrait of a male team member avatar"
          src="https://i.pravatar.cc/100" />
      </div>
    </button>
    <button
      class="ml-2 py-2 px-4 bg-primary text-white text-sm font-bold rounded-xl flex items-center gap-2 hover:bg-primary/90 transition-all"><span
        class="material-symbols-outlined text-sm"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z" />
        </svg></span><span class="hidden sm:inline">Create New Project</span></button>
  </div>
</header>
